.c-header-inner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  height: 5.625rem;
}
.quickLogo{
  width: 12.5rem;
  flex: 0 0 auto;
  margin-right: 1.875rem;
  pointer-events: none;
  
  
}